{% extends "base.html" %}

{% block content %}

    <a href="{% url 'generate' %}">generate</a><br><br>

    <table>
        <tr class="table">
            <th>Tables</th>
            <th>Data</th>
        </tr>
        <tr class="table" >
            <td valign="top">
                <ul class="nav nav-pills nav-stacked menu" >
                    {% for model in models %}
                        <li><a class="models_menu" href="{% url 'ajax_get_model' model %}">{{ model|capfirst }}</a></li>
                    {% endfor %}

                </ul>
            </td>
            <td valign="top">
                    {% for model in models %}

                    <form method="post" action="{% url 'ajax_get_model' model %}">

                        {% csrf_token %}
                        <div id='{{ model }}' style="z-index: {{ forloop.counter }}; border: 1px solid #000000"
                                class="{% if forloop.counter != 1 %}not_{% endif %}displayed scroll">
                            Choose table from the left "Available models" list
                        </div>

                        <input type="submit" class="btn btn-large btn btn-success {{model}}_submit" style="display: none">
                    </form>
                    {% endfor %}
            </td>
        </tr>
    </table>

{% endblock %}